.item {
  /* padding: 5px; */
display: flex;
}

.item span {
  padding: 5px;
  margin-left: 15px;

}
.button button {
 font-family: 'Ubuntu', sans-serif;
  position: relative;
  font-weight: 40;
  font-size: 0.8rem;
  /* color: rgb(72, 0, 255); */
  line-height: 1.5;
  height: 20px;
  transition: all 200ms linear;
  border-radius: 4px; 
  width: 90px;
   letter-spacing: 1px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  box-shadow: 5px 7px 12px 0 rgba(5, 5, 5, 0.377);
  outline: 0;
  text-transform: capitalize;
  /* background-color: rgb(113, 104, 250);  */
}
.item img {
  width: 90px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 5px 7px 12px 0 rgba(5, 5, 5, 0.377);
}

.item img span {
  cursor: pointer;
}

.img {
  width: 128px;
  height: 384px;
}

.selectedPage {
  font-weight: bold;
}