.descriptionBlock {
  padding: 10px;
  column-width: 400px;
}

.profile {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex: 1;

  img {
    width: 240px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }

  input {
    width: 240px
  }

  .photoBlock {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 10px;
  }
  .infoBlock{
    flex: 2
  }
}

.profileAva {
  column-width: 100px;
}

.contact {
  padding-left: 10px;
  display: flex;
  position: relative;

}

.key {
  flex: content;
  margin: 1px;
}

.aboutMeBlock {
  display: flex;
}

.field {
  justify-items: center;
  text-wrap: wrap;
  width: max-content;
  margin: 1px;
  align-items: flex-start;
}


.hideUnput {
  opacity: 0;
  width: 0%;
  height: 0%;
}

label {
  cursor: pointer
}