.dialogs {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;

}

.dialogsItems {
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    align-content: center;
    margin: 10px;
}

.dialogsItems .active {
    color: gold;
    padding: 10px;
}

.messages {
    padding: 16px;
    color: rgb(0, 0, 0);
    font-size: large;
}

.dialogs img {
    width: 60px;
    height: 60px;
    border-radius: 30px;

}

.button {
    width: 120px;
    height: 35px;
}

.btn {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    font-weight: 40;
    font-size: 1.0rem;
    color: white;
    line-height: 1.5;
    height: 60px;
    transition: all 200ms linear;
    border-radius: 4px;
    width: 150px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
    /* box-shadow: 0 12px 35px 0 rgba(19, 70, 235, 0.25); */
    outline: 0;
    text-transform: capitalize;
    background-color: var(--theme-color);
}

.disBtn {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    font-weight: 40;
    font-size: 1.0rem;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    height: 60px;
    transition: all 200ms linear;
    border-radius: 4px;
    width: 150px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
    /* box-shadow: 0 12px 35px 0 rgba(19, 70, 235, 0.25); */
    outline: 0;
    text-transform: capitalize;
    background-color: rgba(206, 206, 206, 0.486);
}

.todoMain h1 {
    font-weight: 300;
    color: #1677ff;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.todoMain ul {
    width: 100%;
    /* flex-wrap: wrap; */
}

.todoInput {
    display: flex;
}

.todoInput input {
    flex: 9
}

.todoInput button {
    margin-left: 10px;
    font-size: 1em;
    color: #1677ff;
    appearance: none;
    /* color: currentcolor; */
    background: transparent;
    border: 1px solid #828691;
    width: 80px;
    padding: 0.8em;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 0.1rem;
}


.todoList {
    display: flex;

}

.todoList button {
    color: var(--theme-color);
    flex: 1;
    margin-left: 10px;
    font-size: 1em;
    appearance: none;
    /* color: currentcolor; */
    background: transparent;
    border: 1px solid #828691;
    width: 80px;
    padding: 0.8em;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.todoList li {
    font-family: 'Ubuntu', sans-serif;
    /* width: 90%;
    flex-wrap: wrap; */
    font-size: 1em;
    font-weight: 400;
    appearance: none;
    flex: 8;
    padding: 0.85em;
    text-align: left;
    margin-bottom: 0.5rem;
    /* background: #494847; */
    letter-spacing: 0.02rem;
    transition: all 0.3s ease-out;
}

.inputCB {
    flex: 1;
    opacity: 30%;
}